@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	margin: 0;
	width: 1280px;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	letter-spacing: 2px;
	color: #969696;
	background-color: #0e0e0e;
}

@media (min-width: 768px) {
	body {
		overflow: hidden;
	}
}

a {
	margin: 0;
	padding: 0;
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #a52a25;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}
