@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin: auto 0;
	width: 100%;
	display: flex;
	justify-content: center;
}

body {
	width: 1280px;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	line-height: 25px;
	letter-spacing: 2px;
	color: #969696;
	background-color: #0e0e0e;
}

a {
	margin: auto 0;
	padding: 0;
	color: #777777;
	text-decoration: none;
}

a:hover {
	color: #a52a25;
	cursor: pointer;
}
